<h1>Public::Products#index</h1>
<p>Find me in app/views/public/products/index.html.erb</p>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
<h4>ジャンル検索</h4>
<% @genres.each do |genre| %>
	<%= genre.name %>
<% end %>
</div>

<div class="col-lg-9">
<h2>商品一覧</h2><h4>全x件</h4>
	<% @products.each do |product| %>
	  <%= attachment_image_tag product, :image, size: '150x100' %>
	  <%= link_to product.name, public_product_path(product.id) %>
	  <%= product.non_taxed_price %>
	<% end %>
</div>
</div>
</div>