<h1>Admins::Customers#index</h1>
<p>Find me in app/views/admins/customers/index.html.erb</p>


<h1>会員一覧</h1>

<table>
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.id %></td>
			<td><%= link_to customer.first_name, admins_customer_path(customer) %><%= link_to customer.last_name, admins_customer_path(customer) %></td>
			<td><%= customer.email %></td>
			<td>有効</td>
		</tr>
		<% end %>
	</tbody>
</table>